{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2026 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2026 Intevation GmbH <https://intevation.de>
*/ -}}

{{- $committeeID        := .CommitteeID }}
{{- $nickname           := .Nickname }}
{{- $status             := .Status }}
{{- $statusVoting       := MemberStatus "voting" }}
{{- $statusMember       := MemberStatus "member" }}
{{- $statusNoneVoting   := MemberStatus "nonevoting" }}
{{- $preSelectedStatus  := .PreSelectedStatus }}

<form
    hx-post="/member_status_store?committee={{ $committeeID }}&nickname={{ $nickname }}"
    hx-target="#new-status-{{ $nickname }}"
>
    <select name="status">
        <option
            value={{ $statusVoting }}
            {{ if eq $status $statusVoting.String }}selected{{end}}
        >{{ $statusVoting.Label }}</option>
        <option
            value={{ $statusMember }}
            {{ if eq $status $statusMember.String }}selected{{end}}
        >{{ $statusMember.Label }}</option>
        <option
            value={{ $statusNoneVoting }}
            {{ if eq $status $statusNoneVoting.String }}selected{{end}}
        >{{ $statusNoneVoting.Label }}</option>
    </select>
    <button
        hx-get="/member_status_edit_cancel?&committee={{ $committeeID }}"
        hx-target="#new-status-{{ $nickname }}"
        hx-trigger="click"
    >Cancel</button>
    <button
        type="submit"
    >Apply</button>
</form>