{{- /*
This file is Free Software under the Apache-2.0 License
without warranty, see README.md and LICENSE for details.

SPDX-License-Identifier: Apache-2.0

SPDX-FileCopyrightText: 2026 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
Software-Engineering: 2026 Intevation GmbH <https://intevation.de>
*/ -}}

{{- define "member_status_display" -}}
{{- $committeeID        := .CommitteeID }}
{{- $meetingID          := .MeetingID }}
{{- $nickname           := .Nickname }}
{{- $status             := .Status }}
{{- $statusVoting       := MemberStatus "voting" }}
{{- $statusMember       := MemberStatus "member" }}
{{- $statusNoneVoting   := MemberStatus "nonevoting" }}

<span>
    {{ if eq $status $statusVoting }}Voting Member
    {{ else if eq $status $statusMember }}Non-Voting Member
    {{ else if eq $status $statusNoneVoting}}Persistent<br>Non-Voting<br>Member
    {{ end }}
</span>
<button
    hx-get="/member_status_edit?status={{ $status }}&committee={{ $committeeID }}{{if not (eq $meetingID -1) }}&meeting={{ $meetingID }}{{ end }}&nickname={{ $nickname }}"
    hx-target="#editable-status-{{ .Nickname }}"
>
Edit
</button>
{{- end -}}

{{ template "member_status_display" . }}